<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Pickup  Call</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://snazzy-maps-cdn.azureedge.net/assets/1243-xxxxxxxxxxx.png?v=20220106114208">
<ion-card>
  <ion-card-content>
    <p>Address: Fake street 111</p>
    <p>complement: Apto 222</p>
    <p>neighborhood: neighborhood</p>
    <p>zip code :0004</p>
    <p>city name :state</p>

  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea> </ion-textarea>

</ion-item>
</ion-list>
<ion-button color="danger" size="full"> Create pickup-call</ion-button>
</ion-content>
